.loadingContent{
    height: 800px;
    position: relative;
    .loadingio-spinner-bean-eater-ess3b3jg9za{
        background-color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}